body {
  margin: 0;
  font-family: sans-serif;
}

nav a {
  background-color: #eee;
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
  font-size: 18px;
  color: rgb(22, 22, 22);
  font-weight: 600;
}

nav a.active {
  background-color: #d1d1d1;
}

.main-container {
  display: grid;
  place-items: center;
  margin: 0 20px;
}


.produtoFoto {
  width: 100%;
  max-width: 400px;
}

.contato {
  padding-left: 0;
}

.contato-ul li {
  margin-bottom: 15px;
  font-size: 18px;
}

.contato-ul li:before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 2px;
  background-color: rgb(192, 192, 192);
  margin-right: 20px;
}

/* animacoes */
.animaZoom {
  opacity: 0;
  /* transform: scale(0.9); */
  transform: translateX(-40px);
  animation: animaZoom 0.3s forwards
}

@keyframes animaZoom {
  to {
    opacity: initial;
    transform: initial;
  }
}
